.main{
  margin-left: 10%;
  margin-right: 10%;
}
.title{
  color: #cdd0cb;
}

.noohath{
  position: absolute;


}

.shany{
  margin-top: 0;
  position: absolute;
  margin-left: 20%;
}

.lowerHalf{
  margin-top: 530px;
  margin-left: 50px;
  margin-bottom: 20px;
}
